.detail-header-card {
    background-color: var(--card-bg);
    border-radius: 28px;
    overflow: hidden;
    border: none;
}

.detail-header-bottom {
    background-color: var(--paper);
    padding: 15px 25px;
}
