.template-card {
    background-color: #f8fbfd; /* Um tom ligeiramente mais assumido */
    border-radius: 1.25rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.template-card:hover {
    transform: scale(1.02);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important; /* A sombra intensifica */
}